.styletest123 {
    width: 100px;
    height: 100px;
}
.test321 {
    margin: 0;
    float: left;
    clear: none;
}
.nyting {
    float: none;
    display: none;
}

.styletest123 {
    width: 100px;
    height: 100px;
}
.test321 {
    margin: 0;
    float: left;
    clear: none;
}
.nyting {
    float: none;
    display: none;
}
